@{
    ViewBag.Title = "Email bevestigd";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Bedankt om uw e-mail adres te bevestigen. Gelieve @Html.ActionLink("hier te klikken om in te loggen.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
