@{
    ViewBag.Title = "Wachtwoord vergeten bevestiging";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Gelieve je e-mail te controleren om je wachtwoord te resetten.
    </p>
</div>
	
