@{
    ViewBag.Title = "Reset wachtwoord bevestiging";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Je wachtwoord is gereset. Gelieve @Html.ActionLink("hier te klikken om in te loggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
