body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);

* {
    margin: 0;
    padding: 0;
}

@import "compass/css3";

* {
    margin: 0;
    padding: 0;
}

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);

.material {
    padding: 15px;
    margin-right: 15px;
}

    .material img,
    .material-image {
        max-width: 150px;
        max-height: 100px;
    }

    .material h4 {
        margin-top: 0;
    }

    .material > p {
        margin-top: 10px;
    }

    .material > div > *:first-child {
        padding-left: 0;
        padding-right: 8px;
    }

    .material > div > *:last-child {
        padding-left: 8px;
        padding-right: 0;
    }

.form-inline, .search-function {
    margin-bottom: 20px;
}


#detail dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.back {
    margin-top: 5%;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

span.glyphicon-circle-arrow-left {
    font-size: 3em;
}

    span.glyphicon-circle-arrow-left:hover {
        opacity: 0.6;
    }

.reservation-head {
    color: whitesmoke;
    line-height: 1.4em;
    background-color: #222;
    margin-bottom: 1%;
    padding: 2% 0 2% 0;
    text-align: center;
}

.reservatie:nth-child(even) {
    color: whitesmoke;
    line-height: 1.4em;
    background-color: #333;
    margin-bottom: 1%;
    padding: 2% 0 2% 0;
    text-align: center;
    border: solid 1px #777;
}

.reservatie:nth-child(odd) {
    color: black;
    line-height: 1.4em;
    background-color: gainsboro;
    margin-bottom: 1%;
    padding: 2% 0 2% 0;
    text-align: center;
    border: solid 1px gainsboro;
}

.reservatie a {
    color: whitesmoke;
}

form {
    display: inline !important;
}

#all-here {
    background-color: white;
    border: 1px solid green;
    color: green;
}

#something-missing {
    background-color: white;
    border: 1px solid red;
    color: red;
}

#late {
    background-color: white;
    border: 1px solid orange;
    color: orange;
}

div > #SomethingMissing, div > #AllHere, div > #Late {
    width: 150px;
}


.reservation-details {
    width: 100%;
    background-color: whitesmoke;
    color: black;
}

    .reservation-details tr:first-child th {
        text-align: center;
    }

    .reservation-details tr td {
        padding: 3%;
        text-align: center;
    }

        .reservation-details tr td:first-child {
            max-width: 3%;
            text-align: center;
            padding: 0;
        }

    .reservation-details tr:nth-child(even) {
        background: #F6F6F6;
    }

    .reservation-details tr td:nth-child(3) {
        min-width: 70%;
        padding: 2%;
        text-align: center;
    }
