@using IIM.ViewModels
@model IEnumerable<MaterialViewModel>

@{
    ViewBag.Title = "Index";
    ViewBag.Active = "Inventory";
}

<h2>Materialen</h2><br/>

@using (Html.BeginForm())
{
    <p>
        <input type="text" name="SearchName" placeholder="Zoeken op Naam">
        <input type="text" name="SearchCurricular" placeholder="Zoeken op Lessen">

        <input type="submit" value="Search" />
    </p>
}

<div class="clearfix">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-1 material">
            <div class="clearfix">
                <div class="col-sm-7">
                    <img src="@Url.Content(item.PhotoUrl)" class="img-rounded" alt="Foto van @Html.DisplayFor(modelItem => item.Name)" />
                </div>
                <div class="col-sm-5">
                    <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                    @*
                        @using (Html.BeginForm("Add", "Cart", new { id = item.Id}))
                        {
                    *@
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                    </button>
                    @*}*@
                </div>
            </div>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
        </div>
    }
</div>
