@model IIM.ViewModels.ReservationViewModels.NewReservationViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Reserveer je materialen</h2>
@Html.Partial("ReservationDateRangePartial", Model.ReservationDateRange)

@Html.Partial("ReservationMaterialPickerPartial", Model.ReservationMaterials)


@section Scripts{
    <script src="~/Scripts/CustomScripts/Hijax.js"></script>
}