@model IIM.ViewModels.ReservationViewModels.NewReservationViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Reserveer je materialen</h2>
<div>
    @Html.Partial("ReservationDateRangePartial", Model.ReservationDateRange)
</div>
<div style="margin-top: 20px;">

    @Html.Partial("ReservationMaterialPickerPartial", Model.ReservationMaterials)
</div>

@section Scripts{
    <script src="~/Scripts/CustomScripts/Hijax.js"></script>
}
