@model IEnumerable<IIM.ViewModels.ReservationViewModels.ReservationViewModel>

@{
    ViewBag.Title = "Mijn Reservaties";
}

<h2>Mijn Reservaties</h2>

@if (Model != null && Model.Any())
{
    <div class="row reservation-head">
        <div class="col-sm-3">@Html.DisplayNameFor(model => model.CreationDate)</div>
        <div class="col-sm-3">@Html.DisplayNameFor(model => model.StartDate)</div>
        <div class="col-sm-3">@Html.DisplayNameFor(model => model.EndDate)</div>
        <div class="col-sm-3"></div>
    </div>

    <div class="hijax-result" data-hijax-id="0">
        @Html.Partial("Reservations", Model) 
    </div>
    
    @section Scripts{
        <script src="~/Scripts/CustomScripts/Hijax.js"></script>
    }
}
else
{
    <div>Er zijn nog geen reservaties</div>
}
