@model IIM.ViewModels.ReservationViewModels.ReservationDateRangeViewModel
@using (Html.BeginForm("ChangeReservationRange", "Reservation", FormMethod.Post, new { @class = "form-inline", id = "dateRangeForm" }))
{
    <label class="sr-only" for="startDate">Startdatum:</label>
    <input type="datetime" class="form-control" id="startDate" name="startDate" placeholder="Startdatum" value="@Model.StartDate" />
    if (Model.DateFieldAmount >= 2)
    {
        <label class="sr-only" for="endDate">Einddatum:</label>
        <input type="datetime" class="form-control" id="endDate" name="endDate" placeholder="Einddatum"  value="@Model.EndDate"/>
    }
    <input type="submit" class="btn btn-default" value="Vernieuw filter" />
}