@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Er deed zich een error voor bij het afhandelen van uw aanvraag.</h2>

